
<!--Angular-->
<div>
    <h1>Ajouter un utilisateur</h1>
    <form (ngSubmit)="saveUtilisateur()">
        <table>
            <tr>
                <td>Nom</td>
                <td><input type="text" [(ngModel)]="user.nomUtilisateur" name="nomUtilisateur"/></td>
            </tr>
            <tr>
                <td>Prénom</td>
                <td><input type="text" [(ngModel)]="user.prenomUtilisateur" name="prenomUtilisateur"/></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" [(ngModel)]="user.username" name="username"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" [(ngModel)]="user.password" name="password"/></td>
            </tr>
            <tr>
                <td>Date de naissance</td>
                <td><input type="text" [(ngModel)]="user.dateNaissance" name="dateNaissance"/></td>
            </tr>
            <tr>
                <td colspan="2"><button>Ajouter</button></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <table>
        <tr>
            <td>Nom</td>
            <td>Prénom</td>
            <td>Username</td>
            <td>Password</td>
            <td>Date de naissance</td>
            <td>Action</td>
        </tr>
        <tr *ngFor="let u of users">
            <td>{{u.nomUtilisateur}}</td>
            <td>{{u.prenomUtilisateur}}</td>
            <td>{{u.login}}</td>
            <td>{{u.password}}</td>
            <td>{{u.dateNaissance}}</td>
            <td><button (click)="deleteUtilisateur(u.idUtilisateur)">Delete</button></td>
        </tr>
    </table>
</div>