<div>
    <h1>Ajouter une Reservation</h1>
    <form (ngSubmit)="saveReservation()">
        <table>
            <tr>
                <td>Date</td>
                <td><input type="text" [(ngModel)]="reservation.date" name="date"/></td>
            </tr>
            <tr>
                <td colspan="2"><button>Ajouter</button></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <table>
        <tr>
            <td>Date</td>
            <td>Action</td>
        </tr>
        <tr *ngFor="let r of reservations">
            <td>{{r.date}}</td>
            <td><button (click)="deleteReservation(r.idReservation)">Delete</button></td>
        </tr>
    </table>
</div>